
.App, .result {
  height: 100%;
  position:absolute;
}

.planetContainer {
  height: 40%;
  padding-left: 10%;
  margin-top: 2%;

  }
.row {
  min-height: 6%
}

.navbar {
 min-height: 30px;
}

.vehicleList  {
  margin-top: 20px;
}

.resultMessage {
  font-size: 24px;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 3%;
}

.timeInfo, .planetInfo{
  font-size: 18px;
}

.startButton{
  margin-top: 5%;
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65%;
  height: 70%;
  z-index: 1;
  margin-top: 6%;
  margin-left: 18%;
  align-items: center;
  background-color: #CCC;
  border:2px solid grey;
}

.popup .messageContainer {
   margin-top: 10%;
   height: 50%;
}
